= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f|
  %legend Edit #{resource_name.to_s.humanize}
  = f.error_notification
  = f.input :display_name, required: true
  = f.simple_fields_for :online_judges do |online_judges_form|
    = online_judges_form.input :plspoj, label: 'PLSPOJ', input_html: {value: resource.online_judges['plspoj']}

  = f.input :email, required: true, autofocus: true
  = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
  = f.input :password_confirmation, required: false
  = f.input :current_password, hint: "we need your current password to confirm your changes", required: true

  .form-actions
    = f.button :submit, "Update", class: 'btn-primary'
    = link_to 'Import', import_users_path, class: 'btn', method: :post

%h3 Cancel my account
%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), confirm: "Are you sure?", method: :delete}.
