.row
  .span6
    = gravatar_image_tag(@user.email, alt: @user.display_name, gravatar: {size: 200})
  .span6
    %h2= @user.display_name


%h1 Solved problems
%table.table.table-striped
  %thead
    %tr
      %th #
      %th Timestamp
      %th Problem name
      %th Judge
      %th Score
  %tbody
    - @user.accepted_problems.ordered.each_with_index do |accepted_problem, index|
      %tr
        %td= index + 1
        %td= l(accepted_problem.accepted_at)
        %td= accepted_problem.problem.name
        %td
          %span{class: ['badge', accepted_problem.online_judge]}= accepted_problem.online_judge
        %td= accepted_problem.score
