%table.table.table-bordered.group-table
  %thead
    %tr
      %th lp
      %th Competitor
      %th pts.
      - @ranking.tasks.each do |task|
        %th= link_to task.name, task.problem.url if task.problem
  %tbody
    - @ranking.users.each_with_index do |user, i|
      %tr
        %td= i+1
        %td= user.display_name
        %td= @ranking.score_for(user)
        - @ranking.states_for(user).each do |state|
          - if state == :accepted
            %td.accepted OK
          - elsif state == :unattempted
            %td
          - else
            %td.attempted= state
