- show_filter ||= false
- remove_filter ||= false
%h1 Ranking
%table.table.table-striped
  %thead
    %tr
      %th #
      %th User
      %th Judges
      %th Score
  %tbody
    = render 'navigation'
    = render 'custom_filter' if show_filter
    = link_to "remove this filter", filter_path(@user_filter), method: :delete, class: 'remove_filter', confirm: "Are you sure you want to delete filter: '#{@user_filter.name}'?" if remove_filter

    %h5.not_bold Displaying standings from <b> #{l @start_date} </b> to <b> #{l @end_date} </b>

    - @ranking.positions.each_with_index do |position, index|
      %tr
        %td= index + 1
        %td= link_to position.user_name, user_path(position.user_id)
        %td
          - position.judge_results.each do |result|
            - if result.num_problems == 0
              %div{class: ['badge', result.judge_name], title: result.judge_name}= 0

            - else
              %div{class: ['badge', 'left', result.judge_name], title: result.judge_name}
                = result.score
              %div{class: ['badge', 'right', result.judge_name]}
                %div= "(#{result.num_problems.to_i})"

        %td= position.score
