- show_filter ||= false
- remove_filter ||= false
%h1 Ranking
%table.table.table-striped
  %thead
    %tr
      %th #
      %th User
      %th Judges
      %th Score
  %tbody
    = render 'navigation'
    = render 'custom_filter' if show_filter
    = link_to "remove this filter", filter_path(@user_filter), method: :delete, class: 'remove_filter', confirm: "Are you sure you want to delete filter: '#{@user_filter.name}'?" if remove_filter

    %h5.not_bold Displaying standings from <b> #{l @start_date} </b> to <b> #{l @end_date} </b>

    - @ranking.positions.each_with_index do |position, index|
      %tr
        %td= index + 1
        %td= link_to position.user_name, user_path(position.user_id)
        %td
          - position.judge_results.each do |judge_result|
            %span{class: ['badge', judge_result.judge_name], title: judge_result.judge_name, style: "margin-right: 5px;"}
              = judge_result.score.floor
              - if judge_result.score != 0
                %span{style: "font-size: 9px; margin-left: -2px;"}= '.' + judge_result.score.to_s.split(".").last
              %div{style: "margin-left: 3px; width: 3px; height: 18px; border-left: 1px solid black; display: inline; position: absolute; margin-top: 2px; opacity: 0.1"}
              %span{style: "font-size: 11px; margin-left: 2px; opacity: 0.35; color: #000; margin-right: -2px; padding-left: 6px; text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25)"}= judge_result.num_problems.to_i
        %td= position.score
