%h1 Ranking
%table.table.table-striped
  %thead
    %tr
      %th #
      %th User
      %th Judges
      %th Score
  %tbody
    = render 'navigation'
    = render 'custom_filter' if show_filter == true

    - @ranking.positions.each_with_index do |position, index|
      %tr
        %td= index + 1
        %td= link_to position.user_name, user_path(position.user_id)
        %td
          - position.judge_results.each do |judge_result|
            %span{class: ['badge', judge_result.judge_name], title: judge_result.judge_name}= judge_result.score
        %td= position.score
