= simple_form_for([@group, @stage]) do |f|
  = f.error_notification
  %legend New stage

  .form-inputs
    = f.input :name
    = f.input :begin_time, as: :datetime
    = f.input :end_time, as: :datetime
    = f.input :avatar

  .form-actions
    = f.button :submit
